@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  margin: 0;
}

body,
form,
input {
  box-sizing: border-box;
  font-family: "Roboto";
}

.w-100 {
  width: 100%;
}
